<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background:url('https://raw.githubusercontent.com/ChristianPlesca/Milestone-Project3/master/static/images/main-background-image.jpg'); margin-top: 20px;">
    
<div class="container">
    <form accept-charset="UTF-8" action="{{url_for('update_comment', comments_id = messages._id, artist_id = artist._id, artist_name = artist.artist_name)}}" method="POST">
        
        <textarea class="form-control" id="text" name="messages" maxlength="500" placeholder="Type in your message" rows="5">{{messages.messages}}</textarea>
        
        <span class="pull-right label label-default" id="count_message"></span>
        <br>
        <button class="btn btn-success" type="submit" name="action">Update your Comment</button>
        <a href="{{url_for('artist_page',comments_id = messages._id, artist_id = artist._id, artist_name = artist.artist_name)}} + #sendform" class="btn btn-success" type="submit">Cancel</a>
    </form>
</div>

</body>

