{% extends 'base.html' %} 
{% block content %}

<div class="container">

    
    <form accept-charset="UTF-8" action="{{url_for('main.update_comment', comments_id = messages._id, artist_id = artist._id)}}" method="POST">
        
        <textarea class="form-control" id="text" name="messages" maxlength="200" placeholder="Type in your message" rows="5">{{messages.messages}}</textarea>
        
        <span class="pull-right label label-default" id="count_message"></span>
        <br>
        <button class="btn btn-info" type="submit" name="action">Update your Comment</button>
    </form>
</div>


{% endblock %}