{% extends "base.html" %} {% block main %}

<h1 class="title">
    Artists
</h1>

{% for art in artist | sort(attribute='artist_name')%}
<div class="card " >
    <img class="card-img-top" src="{{art.artist_icon}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{art.artist_name}}</h5>
      <a href="{{url_for('main.artist_page',artist_id = art._id , artist_name = art.artist_name)}}" class="btn btn-outline-success">Visit Artist Page</a>
    </div>
  </div>
  
  {% endfor %}
</div>





 {% endblock %}